# 依赖
node_modules/

# 构建输出
dist/
build/

# 环境变量
.env
.env.local
.env.*.local
.env.production

# 上传文件
server/uploads/

# 日志
logs/
*.log
npm-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统
Thumbs.db
